.locationBlock {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &.__firstDiv {

        &__imageDiv {

            padding: 10px;

            &.image {
                position: relative !important;
            }
        }
    }
}